.IndexRoute {
    @apply h-[4000px];
    @apply bg-black;
    @apply text-white;

    @apply flex flex-col items-center;

}

.hero_section {
    @apply h-screen;
    @apply w-full;
    background: url("../../assets/background.png");
    background-position: center;
    background-size: cover;
    @apply flex items-center justify-center flex-col;
    text-align: center;
}

.hero_section > .hero_section_children{
    position: relative;
    top: calc(43.33% - 50%);
    @apply flex flex-col items-center justify-center;
    
}

.button {
    @apply select-none;
    @apply bg-[#17181B];
    @apply border-[#313132];
    @apply rounded-full;
    @apply items-center;
    @apply justify-center;
    @apply space-x-1;
    @apply w-[190.23px];
    @apply h-[50.42px];
    @apply flex flex-row;
    @apply transition-all;
    @apply hover:bg-[#313132];
    @apply active:scale-[0.97];
}

  
.screenshot-overlay {
    position: absolute;
    top: 70%;
    width: calc(100vw - 20%);
    z-index: 0; 
    border-radius: 15px;
  }
  