@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  border-radius: 1000px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Tailwind */
  @apply bg-background-view;
  @apply text-text-color
}


.big-sidebar {
  /* Tailwind */
  @apply bg-background-sidebar;
  @apply w-[349px];
  @apply h-full;
  @apply border-r border-border
}

.small-sidebar {
  @apply bg-background-sidebar;
  @apply w-[80px];
  @apply h-full;
  @apply border-r border-border
}

.general-view {
  @apply bg-background-view;
  @apply h-full;
  width: calc(100% - 348px - 80px);
}
