# Ignore Node.js dependencies
node_modules/

# Ignore Rust build artifacts
target/

# Ignore npm logs
npm-debug.log

# Ignore yarn logs
yarn-error.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore Rust Cargo.lock file
Cargo.lock

# Ignore environment-specific config files
.env

# Ignore compiled JavaScript or TypeScript files
*.js
*.js.map
*.ts
*.ts.map

# Ignore compiled Rust binaries
*.rs
