h1 {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 4px;
}

h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: auto;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: auto;
}

h4 {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: auto;
}

h5 {
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: auto;
}


li {
    /* make it dot */
    list-style-type: disc;
    margin-left: 2.5rem;
}